.chart div {
  background-color: lightcoral;
  text-align: left;
  padding: 2px;
  margin: 1px;
  color: antiquewhite;
}

h1 {
    text-align: center;
    font: 300% Futura;
    color: gray;
}
body{
    background-color: antiquewhite;
    font: 150% Futura;
    color: gray;
}
td{
    text-align: center;
}