.chart div {
  font: 10px Futura;
  background-color: lightcoral;
  text-align: left;
  padding: 2px;
  margin: 1px;
  color: antiquewhite;
  font-size: medium;
}

h1 {
    text-align: center;
    font: xx-large Futura;
    color: gray;
}
body{
    background-color: antiquewhite;
}